html,
body {
    background-color: #343434;
    margin: 0px;
    padding: 0px;
}

#gameBody {
    height: 100vh;
}

#dinosaur {
    position: absolute;
    z-index: 1;
    background-color: red;
    width: 100px;
    height: 100px;
}